SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_DATABASE=
SNOWFLAKE_SCHEMA=
SNOWFLAKE_WAREHOUSE=

OPENROUTER_API_KEY=

PINECONE_API_KEY=
PINECONE_HOST=
PINECONE_INDEX=

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC=raw_incidents
EVENTS_PER_HOUR=1080000
